{% extends "management/base.html" %}
	{% block login %}
	
	<!-- form login -->
	<div class="wrapper">
		<div class="col-md-6 justify-content-center" id="mgmt_login">
			<div class="card" id="login_card">
				<form class="text-center" action="/management/login" method="POST">
					<div class="card-header">
						<p class="h4 mb-4">Log in</p>
					</div>
					<div class="card-body">
						<!-- Email -->
						<input type="email" name="m_email" {% if m_email %}value="{{m_email}}"{% endif %}id="LoginFormEmail" class="form-control mb-4" placeholder="E-mail address">

						<!-- Password -->
						<input type="password" name="m_password" id="LoginFormPassword" class="form-control mb-4" placeholder="Password">

						<div class="d-flex justify-content-around">
							<!-- <div>
								Remember me
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="LoginFormRemember">
									<label class="custom-control-label" for="LoginFormRemember">Remember me</label>
								</div>
							</div> -->
							<!-- Forgot password -->

							<!-- <div>
								<a href="">Forgot password?</a>
							</div> -->
						</div>
					</div>
					<div class="card-footer">
						<!-- Login in button -->
						<button class="btn btn-warning my-4" type="submit">Log in</button>
						<button class="btn btn-warning my-4" type="reset">Cancel</button>
					</div>
				</form>
			</div>
		</div>
		
	</div>
	<!-- form login -->
	

	{% endblock %}