{% extends 'layoutmm.html' %}

{% block title %} ကျန်ုပ်တို့အကြောင်း {% endblock %}

{% block content %}

<div class="container">
    <div class="body-main-about">

        <div class="row">
           <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('homemm') }}">ပင်မစာမျက်နှာ</a></li>
                <li class="breadcrumb-item active" aria-current="page">ကျန်ုပ်တို့အကြောင်း</li>
              </ol>
            </nav>
        </div>
        <div class="row  content-contact" style="height: 120px; margin-bottom: 20px;">
              <p class="conus"><span> ကုမ္ပဏီ သမိုင်း </span></p>
        </div>
        <div class="row aboutus ">
            <div class="col-md-5  ">
                <div class="comp_img"><img src="../static/images/ywbcere.jpg">@ရန်ကုန်ရေပေါ်ဘတ်စ် ဖွင့်ပွဲအခမ်းအနား</div>
                
            </div>
            <div class="col-md-7 our_history">
                <!-- <span style="margin: 20px 0px 25px 10px;">Our History</span> -->
                <p> အပျော်စီးသ‌င်္ဘောများနှင့် ရွက်လွင့်သင်္ဘော များကို လုပ်ကိုင်နေသော တင့်တင့်မြန်မာလုပ်ငန်းစု သည် ဆယ်စုနှစ်သက်တန်းအတွေ့ကြုံကို အများပြည်သူသုံး ရေသယ်ယူပို့ဆောင်ရေးတွင် အသုံးချရန် ကြိုးပန်းနေချိန် ရန်ကုန်တိုင်းဒေသကြီးအစိုးရ အား အများပြည်သူ သယ်ယူပို့ဆောင်ပို့ရေးစနစ်သစ်တခု ဖန်တီးရန် ကူညီခဲ့ရာမှ ရန်ကုန်ရေပေါ်ဘတ်စ် စနစ်ဖြစ်ပေါ်လာသည်။</p>

                <p>ရန်ကုန်တိုင်းဒေသကြီးအစိုးရ သည် မြို့ပတ်လည်တွင်တည်ရှိနေသည့် ရေကြောင်းများကို အသုံးပြုပြီး ရှိရင်းစွဲ ကားလိုင်းများနှင့် ချိတ်ဆက်၍ အများပြည်သူ သယ်ယူပို့ဆောင်ရေး အဖြစ် အသွင်ပြောင်းရန် မျှော်မှန်းခဲ့သည်။ ကိုလိုနီအစောပိုင်းကာလ ကတည်းက မြန်မာပြည်တွင် ရေလုပ်ငန်းနှင့်ပတ်သက်သော ရှည်လျားသောသမိုင်းရှိခဲ့သော်လည်း အများပြည်သူပတ်သက်သော လုပ်ငန်းများမှာ စက်ပိုင်း ၊ဝန်ဆောင်မှုပိုင်းများမှာ နောက်ကျခဲ့သည်။ </p>

                <p>ရန်ကုန်ရေပေါ်ဘတ်စ်သည် ရန်ကုန်မြို့ရှိရေကြောင်းပေါ်တွင် အဆင့်မီ ရေယာဉ် များနှင့် နိုင်ငံတကာလုပ်ငန်းများ ကို အသုံးပြု၍ သက်သာလွယ်ကူသော၊ စိတ်ချရသော ရေလမ်းသယ်ယူပို့ဆောင်ရေးတခုကို ထောက်ပန့်ပေးစေရန် ရည်ရွယ်သည်။ </p>
            </div>
        </div>
        <div class="row goal">
            <span>ကုမ္ပဏီ မျှော်မှန်းချက်</span>
            <p>
                ရန်ကုန်မြို့နေ ပြည်သူလူထု အတွက် သက်သာ လွယ်ကူသော ယုံကြည်စိတ်ချရသော ရေကြောင်းသယ်ယူပို့ဆောင်ရေးစနစ်တစ်ခု ဖြစ်ပေါ်လာစေရန် ။ ယာဉ်ကြောကျပ်တည်းမှု အထိုက်အလျောက် လျှော့ချရန်။
            </p>
            <p>
                ရန်ကုန်ရေပေါ်ဘတ်စ်သည် အာဆီယံ ရေလမ်းအသုံးပြု အများပြည်သူသယ်ယူပို့ဆောင်ရေးစနစ်များတွင် စံပြမော်ဒယ် ဖြစ်စေရန်။ သက်သာသော အခကြေးငွေဖြင့် စားသုံးသူကို ကျေနပ်မှုပေးနိုင်ရန်။ ခေါတ်မီသော ဝန်ဆောင်မှုများဖြင့် အများပြည်သူ နေ့စဉ်သွားလာနေရသော ခရီးအကွာဝေးကို လျော့ချရန်။
            </p>
        </div>
        <div class="row goal">
            <span>ကုမ္ပဏီ ဝန်ဆောင်မှု</span>
            <p>
                ရန်ကုန်ရေပေါ်ဘတ်စ်သည် တန်းဖိုးနည်း သယ်ယူပို့ဆောင်ရေး ဖြစ်သော်ငြား ဝန်ဆောင်မှုများမှာ အထူးကောင်းမွန်လှပါသည်။ ခရီးသည် ပြည်သူများအတွက် လက်မှတ်တစ်စောင်တွင် အသက်အာမခံပါဝင်ပြီးသားဖြစ်ပါသည်။ သက်ကယ်အင်္ကျီ များလည်းအရေးပေါ်ကိစ္စများအတွက်ပါရှိပါသည်။
            </p>
            <p>
                ရန်ကုန်ရေပေါ်ဘတ်စ်တွင် ခရီးသွား ပြည်သူများအတွက် ဆေးဘက်ဆိုင်ရာအဖွဲ့လည်း ထားရှိပေးပါသည်။ မုန့်ပဲသရေစာ များနှင့် သန့်ရှင်းသော ထမင်းများလည်း သ‌င်္ဘောပေါ်ဝယ်ယူနိုင်ပါသည်။
            </p>
        </div>
    </div>
</div>
{% endblock %}
