{% extends 'layout.html' %}

{% block title %} Prohibited Articles {% endblock %}
{% block content %}
<div class="container" >
    <h2>Prohibited Articles </h2>
    <div class="row">
    	<div class="col-md-4"></div>
    	<div class="col-md-7 pro_img">
		    	<img src="../static/images/Not_Allowed.png" style="width: 400px; height: 400px;"><br><br>	
    	</div>
    </div>

	<p>Firearms, explosives, weapons, and other dangerous goods are prohibited on the Yangon Water Bus vessels. Any found carrying the prohibited items or breaching the Passenger Rules of Conduct will be prohibited from boarding the Yangon Water Bus vessel, removed from the jetty, and subject to relevant legal prosecution.</p><br>

	<p>မီးလောင်လွယ်သော ပစ္စည်းများ၊ ပေါက်ကွဲလွယ်သော ပစ္စည်းများ အစရှိသည်တို့ကို ယူဆောင်လာခြင်းမပြုရ ။ တွေ့ရှိပါက သိမ်းဆည်းမည်ဖြစ်သည် ။</p><br>


    <p>Pets and animals are not allowed to be brought on the vessels and within the premises of the Yangon Water Bus.</p> <br>
    <p>အိမ်မွေးတိရိစ္ဆာန်နှင့်အခြားတိရိစ္ဆာန်တို့ကို ရေယာဉ်ပေါ်နှင့် ရေပေါ်ဘတ်စ် ဧရိယာသို့ခေါ်ယူလာခြင်းခွင့်မပြု။.</p> 

</div>
{% endblock %}
